{% extends 'layout/nav.html' %}
{% load static %}
{% block content %}

<body>
   <div class="bg-white px-16">
      <div class="bg-white px-4 md:flex justify-between item-center pt-16">
         
         <div class="bg-white p-4 md:w-1/2 item-center content-between">
            <div class="font-bold text-3xl text-purple-900 item-center">
               Your one stop marketplace for your social media, earning and other related needs
            </div>
            <br>
            <div class="bg-white p-4 pb-8 md:w-1/2 item-start content-between">
               <div class="font-semibold text-xl text-gray-700">
                  We’re here to help you grow your social media handles at affordable rates,
                  earn crypto easily by performing micro tasks and much more. 
                  Let’s make your dreams a reality!
               </div>
               <br>
               <div>
                  <a class=" md:shadow-xl py-2 px-2 font-medium text-white rounded-lg bg-purple-800"
                  href="/sign_up">sign up</a>
               </div>
            </div>
         
         </div>

         <div class="md:w-1/2">
            <img src="{% static '/img/people_homepage.jpg' %}" >
            <!-- <a href='https://www.freepik.com/vectors/people'>People vector created by pch.vector - www.freepik.com</a> -->
         </div>
      </div>
   </div>
</body>




{% endblock %}