{% extends 'layout/nav.html' %}
{% load static %}
{% block content %}

<body>
   <div class="px-16">
      <div class="px-4 lg:flex justify-between item-center pt-16">
         
         <div class="bg-white p-4 lg:w-1/2 item-center content-between">
            <div class="font-bold text-3xl text-purple-900 item-center">
               Your one stop marketplace for your social media, earning and other related needs
            </div>
            <br>
            <div class="bg-white pb-8 lg:w-1/2 item-start content-between">
               <div class="font-semibold text-xl text-gray-700">
                  We’re here to help you grow your social media handles at affordable rates,
                  earn crypto easily by performing micro tasks and much more. 
                  Let’s make your dreams a reality!
               </div>
               <br>
               <div>
                  <a class=" lg:shadow-xl py-2 px-2 font-medium text-white rounded bg-purple-900"
                  href="/sign_up">sign up</a>
               </div>
            </div>
         
         </div>

         <div class="lg:w-1/2">
            <img src="{% static '/img/people_homepage.jpg' %}" >
            <!-- <a href='https://www.freepik.com/vectors/people'>People vector created by pch.vector - www.freepik.com</a> -->
         </div>
      </div>

      <div class="px-16 py-10 lg:flex lg:justify-center">

         <div class="w-full max-w-md inline-block shadow-md font-mono text-purple-900 border-4 border-purple-900 rounded-lg p-8 font-semibold text-md">
            <div class="font-bold text-xl text-purple-900 item-center">
               Most Affordable Service Provider (#500/less than $1 for over 1000 results (engagement or follow))
            </div>
            <br>
            Our services is the most affordable in the industry because of our decentralized approach of
            matching you with the right people eager to perform the tasks at the cheapest rate.
            
            <br>
            <br>

            <div>
               <a class=" lg:shadow-xl py-2 px-2 font-medium text-white rounded bg-purple-900"
               href="/sign_up">Get Started Now</a>
            </div>

         </div>
         
      </div>

      <div class="px-16 py-10 lg:flex md:justify-center">
         <div class="space-x-10 lg:flex justify-between item-center p-10 max-w-7xl">
      
            <div class="text-md text-purple-900 rounded inline-block font-bold px-6 py-5 shadow-lg">
               <div>
                  <img class="object-scale-down h-10 w-full"
                  src="{% static '/img/web-design.png' %}">
               </div>
               Our community driven marketplace makes it very easy for
               you to find lots of users who are willing to follow your handle for a very
               affordable price.
            </div>
      
            <div class="text-md text-purple-900 rounded inline-block font-bold px-6 py-5 shadow-lg">
               <div>
                  <img class="object-scale-down h-10 w-full"
                  src="{% static '/img/layout.png' %}">
               </div>
               Our community driven micro tasks marketplace provides you with limitless access to user
               who are eager to engage with your posts for an affordable price. 
            </div>
      
            <div class="text-md text-purple-900 rounded inline-block font-bold px-6 py-5 shadow-lg">
               <div>
                  <img class="object-scale-down h-10 w-full"
                  src="{% static '/img/computer.png' %}">
               </div>
               We’ve got all the major social media handles covered including Facebook,
               Instagram, and Twitter. We are also actively adding more platforms to meet your needs. 
            </div>
            
         </div>
      </div>

      

      <div class="px-16 py-10 lg:flex justify-center">
         <div class="space-x-10 max-w-4xl lg:flex justify-center px-10 py-3 pb-5">
         
            <div class="text-md text-purple-900 rounded inline-block font-bold px-6 py-5 shadow-lg">
               <div>
                  <img class="object-scale-down h-10 w-full"
                  src="{% static '/img/ui-design.png' %}">
               </div>
               To ensure reliability, we insist that you validate that each task was properly
               done before marking the order as completed.
            </div>
      
            <div class="text-md text-purple-900 rounded inline-block font-bold px-6 py-5 shadow-lg">
               <div>
                  <img class="object-scale-down h-10 w-full"
                  src="{% static '/img/web-design1.png' %}">
               </div>
               Micro Tasks makes it easy for you to earn by performing different micro tasks
               provided by the community. 
            </div>
   
         </div>
   
      </div>


      <div class="px-4 lg:flex justify-between item-center pt-16">

         <div class="lg:w-1/2">
            <img class="object-scale-down h-80 w-full"
            src="{% static '/img/social_icons.png' %}" >
            <!-- <a href='https://www.freepik.com/vectors/people'>People vector created by pch.vector - www.freepik.com</a> -->
         </div>
         
         <div class="bg-white p-4 lg:w-1/2 item-center content-between">
            <div class="font-bold text-3xl text-purple-900 item-center">
               We’re always happy to help you.
            </div>
            <br>
            <div class="bg-white pb-8 lg:w-1/2 item-start content-between">
               <div class="font-semibold text-md text-gray-700">
                  You can chat with us on Whatsapp, slide into our DMs,
                  tweet, leave an Instagram comment, send an email or call.
                  However you choose to reach out, there’ll always be a friendly
                  person there to make your life easy.
               </div>
               <br>
               <div>
                  <a class=" lg:py-2 px-2 font-medium text-purple-900 rounded underline"
                  href="/sign_up">Get Help</a>
               </div>
            </div>
         
         </div>       

      </div>

      <div class="px-16 py-10 lg:flex lg:justify-center">

         <div class=" lg:w-full max-w-3xl inline-block shadow-md font-mono text-purple-900 bg-purple-200 border rounded-lg p-8 font-semibold text-md">
            <div class="font-bold text-xl text-purple-900 text-center">
               Strong Support
            </div>
            <br>
            An army of people to welcome your business and interact with
            your status updates, sharing them with their own network.
            
            <br>
            <br>
            <div class="font-bold text-xl text-purple-900 item-center text-center">
               Audience
            </div>
            <br>
            Expand your audience base and benefit from the possibilities
            of reaching outside your established target market, generating new leads as you do.
            <br>
            <br>
            <div class="font-bold text-xl text-purple-900 item-center text-center">
               Wide Exposure
            </div>
            <br>
            Increase your online visibility and experience the power of being
            connected to thousands of Fans. The higher the number of social media
            fans on your handle, the more authority will be associated with you and your brand.


         </div>
         
      </div>
   </div>

</body>




{% endblock %}